@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Dirtyline 36Daysoftype 2022";
  src: url("../public/Dirtyline 36daysoftype 2022.otf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-dirtyline-36daysoftype-2022: "Dirtyline 36Daysoftype 2022";

  /* font sizes */
  --font-size-base: 13px;
  --font-size-lg: 15px;
  --font-size-xl: 20px;
  --font-size-2xl: 48px;

  /* Colors */
  --color-gray-100: #111;
  --color-white: #fff;
  --color-dimgray: #4d4d4d;

  /* border radiuses */
  --br-xs: 10px;
  --br-sm: 11px;
  --br-md: 14px;
  --br-lg: 20px;
  
  overflow: hidden;

}
