@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.bgLeftSide {
  position: absolute;
  top: calc(50% - 484.5px);
  left: calc(50% - 960px);
  width: 1021px;
  height: 1023px;
  object-fit: cover;
}
.background,
.bgRightSide {
  position: absolute;
  height: 1077px;
}
.bgRightSide {
  top: calc(50% - 538.5px);
  left: calc(50% + 61px);
  width: 899px;
  object-fit: cover;
}
.background {
  top: calc(50% - 537px);
  left: calc(50% - 960px);
  width: 1920px;
}
.loginWholeBorder {
  position: absolute;
  top: 79px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
  width: 256px;
  height: 121px;
}
.loginToYour {
  position: absolute;
  top: 110px;
  left: 40px;
  font-weight: 500;
}
.loginText {
  position: absolute;
  top: 0;
  left: 62px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-arial);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}
.loginRoundButton {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: #262626;
  width: 77px;
  height: 28px;
}
.loginButtonText {
  position: absolute;
  top: 4px;
  left: 28px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
}
.loginButton,
.reactIconsriridiscordfill {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 17px;
  height: 17px;
}
.loginButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 138px;
  left: 40px;
  width: 77px;
  height: 28px;
}
.loginButton:hover {
  animation: 0.5s ease 0s 1 alternate forwards shadow-inset-center;
  opacity: 1;
}
.loginContainer {
  position: absolute;
  top: 440px;
  left: 417px;
  width: 256px;
  height: 200px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.newerfasterbetter,
.swiftBotInterface {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
}
.newerfasterbetter {
  top: 53px;
  font-size: var(--font-size-2xl);
  text-transform: uppercase;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}
.topTextContainer {
  position: absolute;
  top: 100px;
  left: 1057px;
  width: 547px;
  height: 78px;
  font-size: var(--font-size-3xl);
  color: var(--color-greenyellow);
  font-family: var(--font-dirtyline-36daysoftype-2022);
}
.poweredBy {
  font-weight: 800;
}
.teamSwift {
  font-family: var(--font-dirtyline-36daysoftype-2022);
  color: var(--color-greenyellow);
}
.poweredByContainer {
  position: absolute;
  top: 544px;
  left: 1073px;
  width: 485px;
  height: 50px;
  font-size: 40px;
  color: var(--color-white);
}
.worldPictureContainer {
  position: absolute;
  top: 413.21px;
  left: 995px;
  width: 925px;
  height: 113.58px;
  object-fit: cover;
}
.roundBoxTwitter {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
  width: 416.72px;
  height: 96.94px;
}
.iconBoxTwitter {
  position: absolute;
  top: 22.66px;
  right: 336.15px;
  border-radius: var(--br-sm);
  background-color: var(--color-greenyellow);
  width: 51.62px;
  height: 51.62px;
}
.reactIconsriritwitterfill {
  position: absolute;
  top: 33.1px;
  right: 346.98px;
  width: 30.22px;
  height: 30.22px;
}
.twitterFollowers {
  position: absolute;
  top: 22.66px;
  right: 162.41px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--color-white);
  display: inline-block;
  width: 163.67px;
  height: 25.18px;
}
.roundBoxYoutube,
.twitterContainer {
  position: absolute;
  top: 633.03px;
  right: 22px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 416.72px;
  height: 96.94px;
}
.roundBoxYoutube {
  top: 0;
  right: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
  width: 417px;
  height: 97px;
}
.iconBoxYoutube {
  position: absolute;
  top: 20.79px;
  right: 330.49px;
  border-radius: var(--br-sm);
  background-color: var(--color-greenyellow);
  width: 55.42px;
  height: 55.42px;
}
.reactIconsririyoutubefill {
  position: absolute;
  top: 32.95px;
  right: 342.65px;
  width: 32.44px;
  height: 32.44px;
}
.youtubeSubscribers {
  position: absolute;
  top: 20.79px;
  right: 111.49px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--color-white);
  display: inline-block;
  width: 208.18px;
  height: 27.04px;
}
.youtubeContainer {
  position: absolute;
  top: 633px;
  right: 446px;
  width: 417px;
  height: 97px;
}
.projectSchedulerContainer1 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
  width: 271.94px;
  height: 131.32px;
}
.reactIconsimimclock {
  position: absolute;
  top: 102.4px;
  right: 236.69px;
  width: 18.88px;
  height: 18.07px;
}
.projectScheduler,
.soon {
  position: absolute;
  top: 48.19px;
  right: 220.32px;
  font-weight: 500;
  display: inline-block;
  width: 35.25px;
  height: 16.87px;
}
.projectScheduler {
  top: 9.64px;
  right: 57.91px;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  color: var(--color-white);
  width: 197.66px;
  height: 30.12px;
}
.projectSchedulerContainer {
  position: absolute;
  top: 286.84px;
  right: 22px;
  width: 271.94px;
  height: 131.32px;
}
.meetingCalendar,
.reactIconsimimcalendar {
  position: absolute;
  top: 101.2px;
  right: 236.69px;
  width: 18.88px;
  height: 18.07px;
}
.meetingCalendar {
  top: 9.64px;
  right: 54.14px;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 201.44px;
  height: 30.12px;
}
.meetingCalendarContainer {
  position: absolute;
  top: 286.84px;
  right: 306.53px;
  width: 271.94px;
  height: 131.32px;
}
.accessToAll,
.applicationManager {
  position: absolute;
  top: 48.19px;
  right: 71.76px;
  font-weight: 500;
  display: inline-block;
  width: 183.81px;
  height: 16.87px;
}
.applicationManager {
  top: 12.05px;
  right: 17.63px;
  font-size: var(--font-size-2xl);
  text-transform: capitalize;
  color: var(--color-white);
  width: 237.95px;
  height: 30.12px;
}
.applicationManagerContainer {
  position: absolute;
  top: 286.84px;
  right: 591.06px;
  width: 271.94px;
  height: 131.32px;
}
.navbarBorder {
  top: 0;
  left: 0;
  background-color: var(--color-greenyellow);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 2026px;
  height: 57px;
}
.logo,
.logoText,
.navbarBorder {
  position: absolute;
}
.logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 3px;
  left: 9px;
  width: 50px;
  height: 50px;
  background-image: url(../../public/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logoText {
  margin: 0;
  top: 16px;
  left: 65px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 330.63px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbarCointainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 2026px;
  height: 57px;
  font-size: var(--font-size-2xl);
  color: #000;
}
.loginPage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightsteelblue);
  font-family: var(--font-outfit);
}
