.roundBoxYoutube {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.75);
  width: 331px;
  height: 77px;
}
.iconBoxYoutube {
  position: absolute;
  top: 18px;
  left: 23px;
  border-radius: var(--br-sm);
  background-color: var(--color-greenyellow);
  width: 41px;
  height: 41px;
}
.reactIconsririyoutubefill {
  position: absolute;
  top: 27px;
  left: 31px;
  width: 24px;
  height: 24px;
}
.youtubeSubs {
  position: absolute;
  top: 48px;
  left: 86px;
  font-weight: 500;
}
.youtubeSubscribers {
  position: absolute;
  top: 18px;
  left: 72px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--color-white);
}
.youtubeContainer {
  position: absolute;
  top: 635px;
  left: 753px;
  width: 331px;
  height: 77px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightsteelblue);
  font-family: var(--font-outfit);
}
